<h1>IQ Test</h1><hr>
<form #testForm="ngForm" *ngIf="isTestStart" (submit)="handleSubmit(testForm)">
    <fieldset class="form-group">
        <div *ngFor="let t of questions; let i = index">
            <h3>Question {{i + 1}}:</h3>
            <div class="form-group row">        
                <div class="col-sm-4">
                    <img src="{{t.question}}" height="300">
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="radio" name="question{{i}}" ngModel id="optin1" value="1">
                    <label class="form-check-label" for="option1">
                    <img src="{{t.option1}}" height="200">
                    </label>
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="radio" name="question{{i}}" ngModel id="optin2" value="2">
                    <label class="form-check-label" for="option2">
                    <img src="{{t.option2}}" height="200">
                    </label>
                </div>
                <div class="form-check col-sm-2">
                    <input class="form-check-input" type="radio" name="question{{i}}" ngModel id="optin3" value="3">
                    <label class="form-check-label" for="option3">
                    <img src="{{t.option3}}" height="200">
                    </label>
                </div><hr><br>
            </div>
        </div>
    </fieldset><br>

    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div><hr><br>

</form>

<form #getNameForm="ngForm" *ngIf="isTestEnd" (submit)="handleGetResult(getNameForm)">
    <fieldset class="form-group">
        <label for="name">Email address</label>
        <input type="email" class="form-control" ngModel name="name" id="name" placeholder="Enter name">
    </fieldset><br>

    <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Get Result</button>
        </div>
    </div><hr><br>

</form>

<div class="card" *ngIf="isHasName">
    <div class="card-body">
      <h4 class="card-title">Ressult</h4>
      <p class="card-text">{{name}}'s result: {{result}}</p>
    </div><br>
    <button class="btn btn-primary" (click)="handleSave()">Save</button><hr>
</div>